body{
    background-color: #222;
    color: white;
    font-family: Georgia;
}
h2{
    color: white;
}
label{
    color: white;
}

input{
   border: 0px;
   background-color:#444;
}

select{
    border: 0px;
    background-color: #333;
    color: white;
}

.campos{
    width:100%;
}

button{
    background-color:blueviolet;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

div{
    border:1px solid black;
    background-color: rgb(19, 18, 18);
    margin: 0 auto;
    width: 80%;
}