<body>
    <table id="lista_telefonica">

    </table>
</body>

<script>
    /*Implemente um gerador de números de telefone. Para cada número
    inserido em uma lista na página, o usuário deve poder iniciar/encerrar
    uma ligação (fictícia).*/

    var array = new Array();

    for (var i = 0; i < 20; i++){
        array.push(getRandomInt(000000000, 999999999));
        
    }

 //   let numero = new Promise(function(resolve, reject){
 //       setTimeout(function(){
 //           //array.push(getRandomInt(000000000, 999999999));
 //       }, 3000);
 //   });

/**
 * Returns a random integer between min (inclusive) and max (inclusive).
 * The value is no lower than min (or the next integer greater than min
 * if min isn't an integer) and no greater than max (or the next integer
 * lower than max if max isn't an integer).
 * Using Math.round() will give you a non-uniform distribution!
 */
function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
}
</script>