body{
    margin: 0;
    display: flex; /**/
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.pokedex-theme{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.pokedex-container{
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 767px){
    .container-left,
  .container-right {
    width:100%;
  }
  [class^="col-"], [class*=" col-"] {
    padding: 0;
  }
}

.pokedex-rodape{
    background-color: #e8332a;
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    color: #fff;
}

.pokedex-rodape a {
    color: #fff;
    text-decoration: none;
}

.pokedex-rodape a:hover {
    color: #ffcb08;
}

.pokedex-titulo{
    text-align: center;
    text-shadow: 3px 0 0 #2c3b5b, -3px 0 0 #2c3b5b, 0 3px 0 #2c3b5b, 0 -3px 0 #2c3b5b, 2px 2px #2c3b5b, -2px -2px 0 #2c3b5b, 2px -2px 0 #2c3b5b, -2px 2px 0 #2c3b5b;
    color:  #fff;
    letter-spacing: 10px;
    margin-bottom: 0;
}