#pokedek {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#pokedek td, #pokedek th {
  border: 1px solid #ddd;
  padding: 8px;
}

#pokedek tr:nth-child(even){background-color: #f2f2f2;}

#pokedek tr:hover {background-color: #ddd;}

#pokedek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.visor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0f5fe94;
  border-right: 5px solid white;
  border-left: 5px solid white;
  position: relative;
}