table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.2rem;
}

td,
th {
	/*color:#f1f6ff;*/
  border: 1px solid #e8332a;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #7b0b06;
}
