.cabecalho{
  text-align: center;
  padding: 20px;
  font: 2em sans-serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.rodape {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 25%;
    height: 68%;
    background-color:#0f182b;
    background-image:linear-gradient(-87deg, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
    padding: 30px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
    
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 650px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  .menu a:link, a:visited {
    background-color: #0f182b;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  .menu a:hover, a:active {
    background-color: #436579;
  }


body
{
  background: -webkit-linear-gradient(left,  #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
}