<body>

</body>
<script>
    /*
    Implemente duas classes de acordo com o código abaixo. A primeira
    deve ser uma classe chamada Gerador , que possui um método
    chamado gerarHTML , que retorna apenas um elemento div em branco,
    e um método chamado addLista , que armazena na classe um array
    com a lista de compras. A segunda classe chama-se GeradorLista e
    deve estender a primeira classe, alterando o método gerarHTML para
    gerar uma lista à partir de um array

    */
    class Gerador{
        
        lista = null;
        
        geraHTML(){
            var iDiv = document.createElement('div');
            iDiv.id = 'block';
            iDiv.className = 'block';
            document.getElementsByTagName('body')[0].appendChild(iDiv);

            return iDiv;
        }

        addLista(lista_compras){
            this.lista = lista_compras;
        }
    }

    class GeradorLista extends Gerador{
        geraHTML(){
           var a = super.geraHTML();

           a.innerHTML = gerador.lista;
        }
    }

    var gerador = new GeradorLista();
    var listaCompras = ["shampoo", "frutas", "arroz"];
    gerador.addLista(listaCompras);
    gerador.geraHTML();
</script>